body { 
  margin: 0;

  font-family: Roboto, Arial, sans-serif;
}

img {
  max-width: 100%;
}

a {
  text-decoration: none;
}

html {
  box-sizing: border-box;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}


/*common*/

.visually-hidden {
  position: absolute;
  clip: rect(0 0 0 0);
  width: 1px;
  height: 1px;
  margin: -1px;
}

.hidden {
  display: none;
}

.box-grey {
  background-color: #eeeeee;
}

.page-title {
  text-align: center;
  font-size: 55px;
  font-weight: 500;
  line-height: 55px;
}

.btn {
  font-size: 16px;
  line-height: 18px;
  font-weight: 500;
  text-transform: uppercase;

  border: none;
}

.btn:active {
  box-shadow: inset 0 3px 0 0 rgba(0, 0, 0, 0.1);
}

.btn-red {
  color: #fff;
  background-color: #fb565a; 
}

.btn-red:hover,
.btn-red:focus {
  background-color: #e74246; 
}

.btn-red:active {
  color: rgba(255, 255, 255, 0.3);
  background-color: #e74246; 
}

.btn-green {
  color: #fff;
  background-color: #00ca74; 
}

.btn-green:hover,
.btn-green:focus {
  background-color: #00bc6c; 
}

.btn-green:active {
  color: rgba(255, 255, 255, 0.3);
  background-color: #00aa62; 
}

.btn-yellow {
  color: #fff;
  background-color: #efc84a; 
}

.btn-yellow:hover,
.btn-yellow:focus {
  background-color: #eab534; 
}

.btn-yellow:active {
  color: rgba(255, 255, 255, 0.3);
  background-color: #e5a722; 
}

.btn-grey {
  color: #000;
  background-color: #eeeeee; 
}

.btn-grey:hover,
.btn-grey:focus {
  background-color: #dfdfdf; 
}

.btn-grey:active {
  color: rgba(0, 0, 0, 0.3);
  background-color: #d5d5d5; 
}


/*header*/

.header {
  background-color: #eee;
}

.header-logo__img:hover {
  opacity: 0.8;
}

.header-logo__img:active {
  opacity: 0.3;
}


/*navigation*/

.site-navigation,
.user-navigation {
  margin: 0;
  padding: 0;
  list-style-type: none;
}

.navigation__link {
  color: #000;
  font-size: 16px;
  font-weight: 500;
  line-height: 30px;
  text-transform: uppercase;
}

.navigation__link-active {
  padding-bottom: 13px;
  border-bottom: 2px solid #fb565a;
}  

.navigation__link:hover,
.navigation__link:focus {
  color: #fb565a;
}

.navigation__link:active {
  color: #000;
  opacity: 0.3;	
}


/*slider*/
.slider {
  margin: 0;
  padding: 0;
  background-color: #eeeeee;
  list-style-type: none;
}

.slide__text {
  font-size: 55px;
  font-weight: 500;
  line-height: 55px;
}

.slide__description {
  font-size: 16px;
  line-height: 24px;
  color: #283136;  
}


/*dots*/

.dots {
  margin: 0;
  padding: 0;
  list-style-type: none;
}


/*services*/

.services__list {
  margin: 0;
  padding: 0;
  list-style-type: none;
}

.services__heading {
  font-size: 24px;
  font-weight: bold;
  line-height: 30px;
  text-transform: uppercase;
}

.services__text {
  font-size: 16px;
  line-height: 24px;
  color: #283136;
}


/*social*/

.social {
  margin: 0;
  padding: 0;
  list-style-type: none;
}

.social__link {
  background-color: #e1e1e1;
}

.social__link:hover,
.social__link:focus {
  background-color: #e74246;
}

.social__link:active {
  background-color: #d7373b;
  box-shadow: inset 0 3px 0 0 rgba(0, 0, 0, 0.1);	
}

.social__link:active .social__img {
  opacity: 0.3;
}


/*footer*/

.footer__text {
  font-size: 36px;
  font-weight: 700;
  line-height: 36px;
}

.footer__discount {
  font-size: 16px;
  line-height: 22px;
  color: #444444;
}


/*filters*/

.filters__fieldset {
  margin: 0;
  padding: 0;
  border: none;
}

.filters__type {
  font-size: 18px;
  font-weight: 700;
  line-height: 30px;
  text-transform: uppercase;
}

.filters__list {
  margin: 0;
  padding: 0;	
  list-style-type: none;
}

.filters__label {
  font-size: 16px;
  line-height: 20px;
  color: #283136;
}

.filters__radio:disabled + .filters__label,
.filters__checkbox:disabled + .filters__label {
  color: rgba(3, 40, 61, 0.3);
}


/*templates*/

.templates__item {
  background-color: #eeeeee;
  text-align: center;
  border: 1px solid rgba(0, 0, 0, 0.1);
}

.templates__item:hover {
  border: 1px solid rgba(77, 77, 77, 0.1);
  box-shadow: 0 0 15px 3px rgba(0, 0, 0, 0.25);
}

.templates__list {
  margin: 0;
  padding: 0;	
  list-style-type: none;
}

.templates__link {
  color: #000;
  font-size: 18px;
  font-weight: 700;
  line-height: 30px;
  text-transform: uppercase;
}

.templates__link:hover,
.templates__link:focus {
  color: #fb565a;
}

.templates__link:active {
  color: rgba(0, 0, 0, 0.3);
}

.templates__description {
  font-size: 16px;
  line-height: 18px;
  color: #666666;
}

.templates__price {
  background-color: #fb565a;

  font-size: 16px;
  font-weight: 500;
  line-height: 18px;
  text-transform: uppercase;
  color: #fff;
}

.templates__price:hover,
.templates__price:focus {
  background-color: #e74246;
}

.templates__price:active {
  background-color: #d7373b;
  box-shadow: inset 0 3px 0 0 rgba(0, 0, 0, 0.1);
}
