body { 
  margin: 0;
  padding: 0;
  font-family: Roboto, Arial, sans-serif;
}

img {
  max-width: 100%;
}

a {
  text-decoration: none;
}

html {
  box-sizing: border-box;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}


/*common*/

.container {
  box-sizing: content-box;
  width: 1160px;
  margin: 0 auto;
  padding: 0 10px;
}

.visually-hidden {
  position: absolute;
  clip: rect(0 0 0 0);
  width: 1px;
  height: 1px;
  margin: -1px;
}

.hidden {
  display: none;
}

.box-grey {
  margin-bottom: 55px;
  padding: 61px 0 108px;
  background-color: #eeeeee;
}

.page-title {
  text-align: center;
  font-size: 55px;
  font-weight: 500;
  line-height: 55px;
}

.btn {
  display: block;
  padding: 16px 0;
  font-size: 16px;
  line-height: 18px;
  font-weight: 500;
  text-align: center;
  text-transform: uppercase;

  border: none;
  border-radius: 2px;
}

.btn:active {
  box-shadow: inset 0 3px 0 0 rgba(0, 0, 0, 0.1);
}

.btn-small {
  margin-top: 32px;
  width: 160px;
}

.btn-medium {
  margin-top: 38px;
  width: 220px;
}

.btn-big {
  margin-top: 38px;
  width: 240px;
}

.btn-huge {
  width: 260px;
}

.btn-red {
  color: #fff;
  background-color: #fb565a; 
}

.btn-red:hover,
.btn-red:focus {
  background-color: #e74246; 
}

.btn-red:active {
  color: rgba(255, 255, 255, 0.3);
  background-color: #e74246; 
}

.btn-green {
  color: #fff;
  background-color: #00ca74; 
}

.btn-green:hover,
.btn-green:focus {
  background-color: #00bc6c; 
}

.btn-green:active {
  color: rgba(255, 255, 255, 0.3);
  background-color: #00aa62; 
}

.btn-yellow {
  color: #fff;
  background-color: #efc84a; 
}

.btn-yellow:hover,
.btn-yellow:focus {
  background-color: #eab534; 
}

.btn-yellow:active {
  color: rgba(255, 255, 255, 0.3);
  background-color: #e5a722; 
}

.btn-grey {
  color: #000;
  background-color: #eeeeee; 
}

.btn-grey:hover,
.btn-grey:focus {
  background-color: #dfdfdf; 
}

.btn-grey:active {
  color: rgba(0, 0, 0, 0.3);
  background-color: #d5d5d5; 
}


/*header*/

.header {
  background-color: #eee;
}

.header-logo {
  line-height: 44px;
}

.header-logo__img:hover {
  opacity: 0.8;
}

.header-logo__img:active {
  opacity: 0.3;
}


/*navigation*/
.navigation {
  display: flex;
  align-items: center;

  padding-top: 49px;
}

.site-navigation,
.user-navigation {
  margin-top: 0;
  margin-bottom: 0;
  padding-left: 0;
  list-style-type: none;
}

.site-navigation {
  display: flex;
  flex-wrap: wrap;
  margin-left: 201px;
}

.user-navigation {
  display: flex;
  flex-wrap: wrap;
  margin-left: auto;
}

.navigation__item:not(:first-child) {
  margin-left: 47.2px;
}

.navigation__link {
  color: #000;
  font-size: 16px;
  font-weight: 500;
  line-height: 30px;
  text-transform: uppercase;
}

.navigation__link-active {
  padding-bottom: 9px;
  border-bottom: 2px solid #fb565a;
}

.navigation__link-basket {
  position: relative;	
  padding-left: 40px;
}

.navigation__link-basket::before {
  content: "";
  position: absolute;
  left: 0;
  top: 2px;
  width: 15px;
  height: 15px;
  background-image: url(../img/cart-icon.svg);
  background-repeat: no-repeat;
}  

.navigation__link:hover,
.navigation__link:focus {
  color: #fb565a;
}

.navigation__link:active {
  color: #000;
  opacity: 0.3;	
}


/*principles*/

.principles {
  position: relative;
  background-color: #eeeeee;
}


/*slider*/

.slider {
  position: relative;
  margin: 0;
  padding: 61px 0 80px;
  list-style-type: none;
}

.slide::after {
  content: "";
  position: absolute;  
  background-repeat: no-repeat;
}

.slide:nth-child(1)::after {
  width: 698px;
  height: 413px;
  bottom: 0%;
  right: 2.6%;
  background-image: url(../img/slide1.png);
}

.slide:nth-child(2)::after {
  width: 663px;
  height: 430px;
  bottom: 0%;
  right: 0%;
  background-image: url(../img/slide2.png);
}

.slide:nth-child(3)::after {
  width: 759px;
  height: 411px;
  bottom: 0%;
  right: 0%;
  background-image: url(../img/slide3.png);
}

.slide__text {
  margin-top: 0;
  margin-bottom: 0;

  font-size: 55px;
  font-weight: 500;
  line-height: 55px;
}

.slide__description {
  margin-top: 27px;
  margin-bottom: 0;
  font-size: 16px;
  line-height: 24px;
  color: #283136;  
}


/*dots*/

.dots {
  position: absolute;
  bottom: 22.4%;
  left: 47.6%;

  margin: 0;
  padding: 0;
  list-style-type: none;
}

.dots__item {
  display: inline-block;
  vertical-align: center;
} 

.dots__item:not(:first-child) {
  margin-left: 14px;
}

.dot {
  position: relative;
  box-sizing: border-box;
  width: 18px;
  height: 18px;
  background-color: #fff;
  border: none;
  border-radius: 50%;
  cursor: pointer;
}


.dot-active::after {
  position: absolute;
  top: 5px;
  right: 5px;
  content: "";
  box-sizing: border-box;
  width: 8px;
  height: 8px;
  border: 2px solid #c1c1c1;
  border-radius: 50%;
}


/*page-title*/

.page-title {
  margin: 0;
}


/*services*/

.services {
  margin-top: 80px;
  padding-bottom: 80px;
  border-bottom: 2px solid #eeeeee;
}

.services__list {
  display: flex;

  margin: 0;
  padding: 0;
  list-style-type: none;
}

.services__item {
  display: flex;
  flex-wrap: wrap;

  width: 300px;
}

.services__item:not(:first-child) {
  margin-left: 100px;
}

.services__heading {
  margin-top: 25px;
  margin-bottom: 0px;
  font-size: 24px;
  font-weight: bold;
  line-height: 30px;
  text-transform: uppercase;
}

.services__img {
  order: -1;
}

.services__text {
  margin-top: 16px;
  margin-bottom: 0;
  font-size: 16px;
  line-height: 24px;
  color: #283136;
}


/*about*/

.about {
  display: flex;
  justify-content: space-between;
  margin-top: 40px;
  padding-bottom: 73px;
  border-bottom: 2px solid #eeeeee;
}

.about-col-left {
  padding-top: 34px;
  width: 660px;
}

.about-col-right {
  width: 360px;
  text-align: center;
}

.about__text {
  margin: 0;
  font-size: 45px;
  font-weight: 500;
  line-height: 45px;
}

.about__description {
  margin-top: 33px;
  margin-bottom: 0;
  font-size: 16px;
  line-height: 24px;
  color: #283136;
}

.about__activity {
  margin-top: 39px;
  margin-bottom: 0;
  font-size: 16px;
  font-weight: 700;
  line-height: 24px;
  text-transform: uppercase;
}

.about__list {
  margin: 24px 0 0 0;
  padding: 0;
  list-style-type: none;
}

.about__item {
	position: relative;
  margin-top: 24px;
  padding-left: 36px;
  font-size: 16px;
  line-height: 24px;
  color: #283136;  
}

.about__item::before {
  position: absolute;
  top: 11px;
  left: 0;
  content: "";
  width: 26px;
  height: 2px;
  background-color: #fb565a;
}

.about__img {
  margin-bottom: -6.6px;
}


/*statistics*/

.statistics {
  display: flex;
  justify-content: flex-start;
  margin: 58px 0 0 0;
  padding: 0;
  list-style-type: none;
}

.statistics__item {
  text-align: left;
}

.statistics__item:not(:first-child) {
	margin-left: 27px;
}

.statistics__text {
  margin: 22px 0 0 0;
  font-size: 16px;
  line-height: 18px;
  color: #283136;
}

.statistics__value {
  position: relative;
  font-size: 45px;
  font-weight: 700;
  line-height: 10px;
  color: #000;
}

.statistics__percent {
  position: absolute;
  top: 13px;
  font-size: 26px;
}


/*client*/

.client {
  margin-top: 45px;
  padding-bottom: 41px;
  border-bottom: 2px solid #eeeeee;
}

.client__list {
  display: flex;
  justify-content: space-around;
  align-items: center;
  margin: 0;
  padding: 0;
  list-style-type: none;
}

.client__item {
	position: relative;
	padding-left: 45px;
}

.client__item:not(:first-child)::before {
  content: "";
  position: absolute;
  left: 0;
  top: 50%;
  width: 2px;
  height: 52px;
  background-color: #eee;
}

.client__link {
  opacity: 0.2;
}

.client__link:hover,
.client__link:focus {
  opacity: 1;
}

.client__link:active {
  opacity: 0.1;
}


/*contacts*/

.contacts {
  position: relative;
}

.contacts__map {
	display: block;
	margin: 0 auto;
}

.contacts__card {
  position: absolute;
  top: 54px;
  box-sizing: border-box;
  width: 320px;
  padding: 49px 51px 46px 51px;
  background-color: #fff;
}

.contacts__heading {
  margin: 0 0 23px 0;
  font-size: 18px;
  font-weight: 700;
  line-height: 30px;
  text-transform: uppercase;
}

.contacts__text {
  display: block;
  margin-top: 18px;
  margin-bottom: 0;
  font-size: 16px;
  line-height: 18px;
  color: #666;
}


/*social*/

.container-social {
	display: flex;
	margin-top: 70px;
}

.social {
	display: flex;
  margin: 0;
  padding: 0;
  list-style-type: none;

}

.social__item:not(:first-child) {
  margin-left: 13px;
}

.social__link {
	display: flex;
	align-items: center;
	justify-content: center;
	width: 78px;
	height: 78px;
  background-color: #e1e1e1;
  border-radius: 50%;
}

.social__link:hover,
.social__link:focus {
  background-color: #e74246;
}

.social__link:active {
  background-color: #d7373b;
  box-shadow: inset 0 3px 0 0 rgba(0, 0, 0, 0.1);	
}

.social__link:active .social__img {
  opacity: 0.3;
}


/*footer*/

.footer {
  margin-top: 80px;
  padding-bottom: 69px;
}

.footer__text {
	margin: 0;
  font-size: 36px;
  font-weight: 700;
  line-height: 45px;
  letter-spacing: 0.2px;
}

.container-discount {
  margin-left: 140px;
}

.footer__discount {
	margin: 6px 0 0 0;
  font-size: 16px;
  line-height: 22px;
  color: #444444;
}


/*store*/

.container-store {
  display: flex;
  justify-content: space-between;
}

.column-store{
  width: 760px;
}

/*range*/

.range {
	margin-top: 48px;
  width: 260px;
}

.range__controls {
	position: relative;
	padding: 39px 20px 0;
	height: 41px;
	background-color: #f1f1f1;
	border-radius: 5px;
}

.range__scale {
	height: 2px;
	background-color: #d7dcde;
}

.range__bar {
	width: 70%;
	height: 2px;
	background-color: #00ca74;
}

.range__pin {
	position: absolute;
	top: 31px;
	left: 0;
	width: 4px;
	height: 4px;
	/*padding: 0;*/
	border: 8px solid #fff;
	background-color: #ababab;
	box-shadow: 0 2px 1px 0 #cfcfcf;
	border-radius: 50%;
	cursor: pointer;
}

.range__pin-min {
	left: 18px;
}

.range__pin-max {
	left: 160px;
}

.range-price {
	display: flex;
	justify-content: space-between;
	margin-top: 14px;
}

.range__label {
  font-size: 16px;
  line-height: 22px;
  color: #283136;
  text-transform: uppercase;
}

.range__value {
  box-sizing: border-box;
  margin-left: 12px;
  width: 80px;
  height: 38px;
  background-color: #eeeeee;
  border: none;

  font-size: 16px;
  line-height: 22px;
  color: #283136;
  text-align: center;  
}


/*sort*/

.sort {
  display: flex;
  padding-top: 4px;
}

.sort__list {
  margin-top: 0;
  margin-bottom: 0;
  margin-left: auto;
  padding: 0;
  list-style-type: none;
}

.sort__item {
  display: inline-block;
  vertical-align: top;
}

.sort__item:not(:first-child) {
  margin-left: 10px;
}

.sort__text {
  margin: 0px;
  font-size: 18px;
  font-weight: 700;
  line-height: 18px;
  text-transform: uppercase;
}

.sort__type {
  border: none;
  background-color: transparent;

  font-size: 14px;
  line-height: 18px;
  color: rgba(0, 0, 0, 0.3);
  text-transform: uppercase;
}

.sort__type:hover,
.sort__type:focus {
  color: rgba(0, 0, 0, 0.6);
}

.sort__type:active,
.sort__type-active {
  color: rgba(0, 0, 0, 1);
}

.sort__btn-min {
  margin-left: 40px;
}

.sort__btn-max {
  margin-left: 10px;
}


/*filters*/

.filters {
  width: 262px;
}

.filters__fieldset {
  margin: 0;
  padding: 0;
  border: none;
}

.filters__fieldset:not(:first-child) {
	margin-top: 54px;
}

.filters__type {
  font-size: 18px;
  font-weight: 700;
  line-height: 30px;
  text-transform: uppercase;
  letter-spacing: 0.7px;
}

.filters__list {
  margin: 0;
  padding: 0;	
  list-style-type: none;
}

.filters__item {
	margin-top: 20px;
}

.filters__item:first-child {
	margin-top: 16px;
}

.filters__label {
	position: relative;
	padding-left: 36px;
  font-size: 16px;
  line-height: 20px;
  color: #283136;
  cursor: pointer;
}

.filters__radio + .filters__label::before {
	content: "";
	position: absolute;
	top: -3px;
	left: 0;
  width: 17px;
  height: 17px;
  border: 4px solid rgba(77, 77, 77, 0.4);
  border-radius: 50%;
}

.filters__radio:checked + .filters__label::after {
	content: "";
	position: absolute;
	top: 5px;
	left: 8px;
  width: 9px;
  height: 9px;
  background-color: rgba(77, 77, 77, 0.4);
  border-radius: 50%;	
}

.filters__radio:disabled + .filters__label {
  color: rgba(40, 49, 54, 0.3);
}

.filters__radio:disabled + .filters__label::before {
  border: 4px solid rgba(77, 77, 77, 0.1);
}

.filters__radio:disabled + .filters__label::after {
  background-color: rgba(77, 77, 77, 0.1);
}

.filters__radio:not(:disabled):hover + .filters__label::before,
.filters__radio:not(:disabled):focus + .filters__label::before {
  border: 4px solid rgba(77, 77, 77, 1);
}

.filters__radio:not(:disabled):hover + .filters__label::after,
.filters__radio:not(:disabled):focus + .filters__label::after {
  background-color: rgba(77, 77, 77, 1);
}



/*templates*/

.templates {
  margin-top: 54px;
}

.templates__list {
  display: flex;
  flex-wrap: wrap;

  margin: 0;
  padding: 0; 
  list-style-type: none;
}

.templates__item {
  width: 360px;
  background-color: #eeeeee;
  border: 1px solid rgba(0, 0, 0, 0.1);

  text-align: center;
}

.templates__item:not(:nth-child(2n+1)) {
  margin-left: 36px;
}

.templates__item {
  margin-top: 30px;
}

.templates__item:nth-child(1),
.templates__item:nth-child(2) {
  margin-top: 0;
}

.templates__item:hover {
  border: 1px solid rgba(77, 77, 77, 0.1);
  box-shadow: 0 0 15px 3px rgba(0, 0, 0, 0.25);
}

.templates__link {
  color: #000;
  font-size: 18px;
  font-weight: 700;
  line-height: 30px;
  text-transform: uppercase;
}

.templates__link:hover,
.templates__link:focus {
  color: #fb565a;
}

.templates__link:active {
  color: rgba(0, 0, 0, 0.3);
}

.templates__description {
  font-size: 16px;
  line-height: 18px;
  color: #666666;
}

.templates__price {
  background-color: #fb565a;

  font-size: 16px;
  font-weight: 500;
  line-height: 18px;
  text-transform: uppercase;
  color: #fff;
}

.templates__price:hover,
.templates__price:focus {
  background-color: #e74246;
}

.templates__price:active {
  background-color: #d7373b;
  box-shadow: inset 0 3px 0 0 rgba(0, 0, 0, 0.1);
}


/*pagination*/

.pagination {
  margin: 60px 0 0 0;
  padding: 0;
  list-style-type: none;
}

.pagination__item {
  display: inline-block;
  vertical-align: center;
}

.pagination__item:not(:first-child) {
  margin-left: 11px;
}

.pagination__link {
  background-color: #eee;

  color: #000;
  font-size: 16px;
  font-weight: 500;
  line-height: 18px;
}

.pagination__link:not(.pagination__link-active):hover,
.pagination__link:not(.pagination__link-active):focus {
  background-color: #dfdfdf;
}

.pagination__link:not(.pagination__link-active):active {
  background-color: #d5d5d5;
  box-shadow: inset 0 3px 0 0 rgba(0, 0, 0, 0.1);
  color: rgba(0, 0, 0, 0.3);
}

.pagination__link-active {
  background-color: transparent;
  border: 3px solid #dbdbdb;
}
